# Sensor Based Aquaponics Fish Pond Datasets

### 1. Business Problem

#### 1.1 Introduction

<p>The aquaculture industry in Indonesia is a vital source of income for many small-scale farmers, but they often lack knowledge and resources to help them. What are the key factors that affect fish growth and health in the freshwater aquaculture system one might ask? Someone said there are many factors that affect the growth of fish, including feed and water quality. Water quality impacts on fish growth rate, feed consumption, and their general wellbeing.</p> 
<p>Farmersâ€™ ignorance of how to manage pond water properly has resulted to the death of fishes. Therefore, performing exploratory data analysis (EDA) on the aquaculture dataset is essential for improving the health and growth of fish in the freshwater aquaculture system. By identifying the key factors that affect fish growth and health, farmers can take steps to manage their ponds more effectively and improve the success of their aquaculture operation.</p>

#### 1.2 Sources/Useful Links

Some Useful Links:
- https://www.sciencedirect.com/science/article/pii/S2352340922005972
- https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0256380
- Coming Soon

#### 1.3 Business Objectives and Constraints

- May bias to certain Catfish
- Coming Soon

### 2. Machine Learning Problem

#### 2.1 Data Overview

The dataset contains the date and time the data were collected, the entry id of each data from 1 to n. Then the next six columns contain the IoT water quality parameters (Temperature, pH, Dissolved Oxygen, Ammonia, Turbidity, Nitrate) followed by the last two (Length, Width) columns were manually measured with random sampling.

- <b>Temperature</b>:
<p></p>

- <b>pH</b>:
<p></p>

- <b>Dissolved Oxygen</b>:
<p></p>

- <b>Ammomia</b>:
Ammonia accumulates in fish ponds due to the breakdown of the protein rich
fish feeds, ...

- <b>Turbidity</b>:
<p></p>

- <b>Nitrate</b>:
<p></p>

Read more about the dataset (https://www.sciencedirect.com/science/article/pii/S2352340922005972)

#### 2.2 Type of Machine Learning Task

<p>It is a Regression and Forecasting problem</p>

#### 2.3 Performance Metric

Metrics(s):
- Mean Squared Error (MSE)
- Mean Absolute Error (MAE)

### 3. Exploratory Data Analysis

#### 3.1 Basic Information About Dataset

In [20]:
"""
    Importing The Neccessary Libraries
"""

import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
dataset = pd.read_csv('../dataset/raw/dataset.csv')

dataset.head()

,created_at,entry_id,Temperature (C),Turbidity (NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Population,Fish_Length (cm),Fish_Weight (g)
0,2021-06-19 00:00:05 CET,1889,24.8750,100,4.505,8.43365,0.38,193,50,6.96,3.36
1,2021-06-19 00:01:02 CET,1890,24.9375,100,6.601,8.43818,0.38,194,50,6.96,3.36
2,2021-06-19 00:01:22 CET,1891,24.8750,100,15.797,8.42457,0.38,192,50,6.96,3.36
3,2021-06-19 00:01:44 CET,1892,24.9375,100,5.046,8.43365,0.38,193,50,6.96,3.36
4,2021-06-19 00:02:07 CET,1893,24.9375,100,38.407,8.40641,0.38,192,50,6.96,3.36

In [22]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
entry_id,172249.0,1.487257e+05,8.541878e+04,1889.00000,62717.00000,147763.00000,226310.00000,2.693720e+05
Temperature (C),172249.0,2.498285e+01,9.018905e-01,-127.00000,24.37500,24.93750,25.50000,2.781250e+01
Turbidity (NTU),172249.0,9.097466e+01,2.109991e+01,1.00000,94.00000,100.00000,100.00000,1.000000e+02
Dissolved Oxygen(g/ml),172249.0,9.708503e+00,1.097196e+01,0.00700,3.20000,3.28300,11.73900,4.104600e+01
PH,172249.0,3.971857e+00,3.960719e+00,-3.13745,-0.17318,7.09904,7.51667,8.551670e+00
Ammonia(g/ml),172159.0,3.112110e+08,1.257809e+10,0.00659,0.56935,8.47056,80.70516,9.965130e+11
Nitrate(g/ml),172249.0,7.198914e+02,4.159798e+02,45.00000,189.00000,890.00000,1050.00000,2.224000e+03
Population,172249.0,5.000000e+01,0.000000e+00,50.00000,50.00000,50.00000,50.00000,5.000000e+01
Fish_Length (cm),172249.0,2.342878e+01,9.609826e+00,6.96000,14.22000,20.97000,32.54000,3.539000e+01
Fish_Weight (g),172249.0,1.664705e+02,1.457527e+02,3.36000,22.89000,65.48000,302.50000,3.946600e+02

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172249 entries, 0 to 172248
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   created_at              172249 non-null  object
 1   entry_id                172249 non-null  int64
 2   Temperature (C)         172249 non-null  float64
 3   Turbidity (NTU)         172249 non-null  int64
 4   Dissolved Oxygen(g/ml)  172249 non-null  float64
 5   PH                      172249 non-null  float64
 6   Ammonia(g/ml)           172159 non-null  float64
 7   Nitrate(g/ml)           172249 non-null  int64
 8   Population              172249 non-null  int64
 9   Fish_Length (cm)        172249 non-null  float64
 10  Fish_Weight (g)         172249 non-null  float64
dtypes: float64(6), int64(4), object(1)
memory usage: 14.5+ MB

<p>Based on the information above, we don't need the first two columns</p>

#### 3.2 Drop The First Two Column

In [24]:
dataset = dataset.drop(columns=['created_at', 'entry_id'])

#### 3.2 Check for Missing (Null) Values

In [25]:
null_values = dataset.isnull()
null_index = null_values.stack()[null_values.stack() == True].index.tolist()

print(null_values.sum())
print("\nIndex: ")
for index in null_index:
    print(index[0], end = ", ")

Temperature (C)            0
Turbidity (NTU)            0
Dissolved Oxygen(g/ml)     0
PH                         0
Ammonia(g/ml)             90
Nitrate(g/ml)              0
Population                 0
Fish_Length (cm)           0
Fish_Weight (g)            0
dtype: int64

Index:
12388, 13842, 13861, 17088, 17108, 17253, 18202, 18277, 18386, 19802, 20005, 20037, 20090, 20127, 20196, 20201, 20241, 20276, 20718, 20721, 22877, 23321, 23341, 23560, 23649, 24030, 24056, 24115, 24116, 24165, 24364, 24660, 27883, 27966, 28121, 28186, 28598, 28747, 28750, 30285, 30286, 30393, 30737, 31031, 31062, 31079, 31993, 32527, 32809, 32813, 32822, 32910, 34865, 35267, 35775, 36919, 37092, 37143, 37208, 40240, 40513, 40670, 40674, 45373, 45414, 45642, 46037, 46292, 46342, 46447, 47266, 150702, 157385, 157397, 157516, 157680, 157833, 157871, 157955, 157963, 158020, 160425, 160635, 160636, 160729, 160772, 164077, 164398, 171754, 171756,

There are 90 rows that have missing values followed by its index, due to the size of the data, it might be better to drop it altogether rather than to replace it with some values.

In [26]:
dataset = dataset.dropna(how='any', subset=None, inplace=False)

In [27]:
dataset.isnull().sum()

Temperature (C)           0
Turbidity (NTU)           0
Dissolved Oxygen(g/ml)    0
PH                        0
Ammonia(g/ml)             0
Nitrate(g/ml)             0
Population                0
Fish_Length (cm)          0
Fish_Weight (g)           0
dtype: int64